{{ form_start(form) }}
<div class="row">
    <label for="username" class="col-md-6">{{ form_row(form.author) }}</label>
</div>
<div class="row">
    <div class="col-12">{{ form_row(form.content) }}</div>
</div>
{{ form_rest(form) }}
<button class="btn btn-primary">{{ button|default('Créer') }}</button>
{{ form_end(form) }}