{{ form_start(form) }}
{{ form_errors(form) }}
<div class="row">
    <div class="col-md-12">{{ form_row(form.title) }}</div>
</div>
<div class="row">
    <div class="col-md-12">{{ form_row(form.content) }}</div>
</div>
<div class="row">
    <div class="col-md-4">{{ form_row(form.category) }}</div>
    <div class="col-md-4">{{ form_row(form.imageUpload) }}</div>
</div>
<div class="row">
    <div class="col-md-6" id="trick_media">
        {{ form_row(form.video_media) }}
    </div>
    <div class="col-md-4"><a href="#" id="add_media" class="btn btn-primary">Ajouter un média</a></div>
</div>
<div class="row">
    <div class="col-md-6" id="trick_media">
        {{ form_row(form.uploadImageMedia ) }}
    </div>
    <div class="col-md-4"><a href="#" id="add_media" class="btn btn-primary">Ajouter une image</a></div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="{{ asset('js/app.js') }}"></script>
{{ form_rest(form) }}
<button class="btn btn-primary">{{ button|default('Enregistrer') }}</button>
{{ form_end(form) }}

