{{ form_start(form) }}
{{ form_errors(form) }}

<div class="row">
    <div class="col-md-12">{{ form_row(form.title) }}</div>
</div>
<div class="row">
    <div class="col-md-12">{{ form_row(form.content) }}</div>
</div>
<div class="row">
    <div class="col-md-4">{{ form_row(form.category) }}</div>
    <div class="col-md-4">{{ form_row(form.imageUpload) }}</div>
</div>


<div class="row" id="js-trick-add-media">
    <div class="col-md-4" id="js-trick-images">{{ form_row(form.imageMedia) }}</div>
    <div class="col-md-4" id="js-trick-videos">{{ form_row(form.mediaVideos) }}</div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="{{ asset('js/app.js') }}"></script>
{{ form_rest(form) }}
<button class="btn btn-primary">{{ button|default('Enregistrer') }}</button>
{{ form_end(form) }}

