{% extends 'base.html.twig' %}
{% block title 'Gérer les tricks' %}

{% block body %}
    <div class="container">
        <h1>Gérer les tricks</h1>

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Titre</th>
                <th>Catégorie</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for trick in tricks %}
            <tr>
                <td>{{ trick.title }}</td>
                <td>{{ trick.category }}</td>
                <td>
                    <a href="{{ path('admin.tricks.edit', {id: trick.id}) }}" class="btn btn-secondary">Editer</a>
                    <form method="post" action="{{ path('admin.tricks.delete', {id: trick.id}) }}" style="display: inline-block" onsubmit="return confirm('Confirmez-vous la suppression ?')">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ trick.id) }}">
                        <button class="btn btn-danger">Supprimer</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="text-right">
            <a href="{{ path('admin.tricks.new') }}" class="btn btn-primary">Ajouter un trick</a>
        </div>
    </div>

{% endblock %}