<div class="row">
    {% for trick in tricks %}
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="card mb-3">
                <div class="card-body">
                    <div class="card-title">
                        <a href="{{ path('trick.show', {id: trick.id }) }}">
                            {% if trick.image %}
                                <img src="{{ asset('uploads/images/' ~ trick.image) }}" alt="card-img-top" class="card-img">
                                {% else %}
                                    <img src="{{ asset('images/default.png') }}" alt="card-img-top" class="card-img">
                            {% endif %}
                            <h3>
                                {{ trick.title }}
                            </h3>
                        </a>
                    </div>
                    {% if app.user %}
                        <a href="{{ path('admin.tricks.edit', {id: trick.id}) }}" class="btn btn-outline-primary"><i class="fas fa-pen fa-sm"></i></a>
                        <form method="post" action="{{ path('admin.tricks.delete', {id: trick.id}) }}" style="display: inline-block" onsubmit="return confirm('Confirmez-vous la suppression ?')">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ trick.id) }}">
                            <button class="btn btn-outline-danger"><i class="fas fa-trash fa-sm"></i></button>
                        </form>
                    {% endif %}
                    <p class="card-text"><strong>Auteur : {{ trick.author.username }}</strong></p>
                    <p class="badge badge-pill badge-info">{{ trick.category.name }}</p>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
