<div class="col-3">
    <div class="card mb-3">
        <div class="card-body">
            <h3 class="card-title">
                <a href="{{ path('trick.show', {id: trick.id, slug: trick.slug}) }}">
                    {{ trick.title }}
                </a>
            </h3>
            {% if app.user %}
            <a href="{{ path('admin.tricks.edit', {id: trick.id}) }}" class="btn"><i class="fas fa-pen fa-sm"></i></a>
            <form method="post" action="{{ path('admin.tricks.delete', {id: trick.id}) }}" style="display: inline-block" onsubmit="return confirm('Confirmez-vous la suppression ?')">
                <input type="hidden" name="_method" value="DELETE">
                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ trick.id) }}">
                <button class="btn"><i class="fas fa-trash fa-sm"></i></button>
            </form>
            {% endif %}
            {% if trick.image %}
                <img src="{{ asset('uploads/images/' ~ trick.image) }}" alt="card-img-top" style="width: 100%; height: auto;">
            {% endif %}
            <p class="card-text">{{ trick.content }}</p>
            <p class="badge badge-pill badge-primary">{{ trick.category.name }}</p>
            <p class="card-text">{{ trick.author.username }}</p>
        </div>
    </div>
</div>
