{% extends 'base.html.twig' %}
{% block title 'Détails du trick' %}

{% block body %}
    <article class="container trick-show">
        <div class="row justify-content-md-center">
                <div class="col-md-5 col-sm-12 trick-text">
                    <h1>
                        {{ trick.title }}
                        {% if app.user %}
                            <a href="{{ path('admin.tricks.edit', {id: trick.id}) }}" class="btn"><i class="fas fa-pen fa-sm"></i></a>
                            <form method="post" action="{{ path('admin.tricks.delete', {id: trick.id}) }}" style="display: inline-block" onsubmit="return confirm('Confirmez-vous la suppression ?')">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ trick.id) }}">
                                <button class="btn"><i class="fas fa-trash fa-sm"></i></button>
                            </form>
                        {% endif %}
                    </h1>
                    <div>{{ trick.content }}</div>
                    <div>{{ trick.creationDate|date('d/m/Y') }}</div>
                    <div class="badge badge-pill badge-primary">{{ trick.category.name }}</div>
                </div>

            <div class="col-md-7 col-sm-12">
                {% if trick.image %}
                    <img src="{{ asset('uploads/images/' ~ trick.image) }}" alt="card-img-top" style="width: 100%; height: auto;">
                    {% else %}
                        <img src="{{ asset('images/default.png') }}" alt="card-img-top" style="width: 100%; height: auto;">
                {% endif %}
            </div>
            </div>

    </article>
    <section class="container">
        <h2>Commentaires</h2>
        {% if app.user %}
            <p><strong>Auteur : {{ app.user.realName }}</strong></p>
        {{ include('comment/_form.html.twig', {form: form, button: 'Créer'}) }}

        {% else %}
            <p>Vous ne pouvez pas commenter si vous n'êtes pas connecté(e).</p>
        {% endif %}

        <div class="row mt-4">
                {% for comment in trick.comments|sort|reverse %}
                    <div class="comment col-md-8">
                            {% if comment.author.picture != null %}
                                <img src="{{ asset('uploads/images/' ~ comment.author.picture) }}" alt="user picture" class="rounded-circle" width="50">
                            {% else %}
                                <img src="{{ asset('uploads/images/user.png') }}" alt="user picture" class="rounded-circle" width="50">
                            {% endif %}
                            {{ comment.author.realName }} (<small>{{ comment.creationDate|date('d/m/Y') }}</small>)
                            {{ comment.content }}
                    </div>
                {% endfor %}
        </div>
    </section>
{% endblock %}