{% extends 'base.html.twig' %}
{% block title 'Détails du trick' %}

{% block body %}
    <article class="container">
        <div class="row">
            <h1 class="col-md-12">{{ trick.title }}</h1>
            <div class="col-md-12">{{ trick.content }}</div>
            <div class="col-md-3">{{ trick.creationDate|date('d/m/Y') }}</div>
            <div class="col-md-3">
                <div class="badge badge-pill badge-primary">{{ trick.category.name }}</div>
            </div>
        </div>
    </article>
    <section class="container">
        <h2>Commentaires</h2>
        {% if app.user %}
        {{ include('comment/_form.html.twig', {form: form, button: 'Créer'}) }}

        {% else %}
            <p>Vous ne pouvez pas commenter si vous n'êtes pas connecté(e).</p>
        {% endif %}
        {% for comment in trick.comments %}
        <div class="row">
           <div class="col-md-3">{{ comment.author.realName }} (<small>{{ comment.creationDate|date('d/m/Y') }}</small>)</div>
            <div class="col-md-9">{{ comment.content|raw}}</div>
        </div>
        {% endfor %}

    </section>
{% endblock %}