{% extends 'base.html.twig' %}
{% block title 'Détails du trick' %}

{% block body %}
    <header class="trick-header"></header>
    <article class="container trick-show">
        <div class="row justify-content-md-center no-gutter">
            <div class="col-md-6 col-sm-12">
                <h1>
                    {{ trick.title }}
                    {% if app.user %}
                        <a href="{{ path('admin.tricks.edit', {id: trick.id}) }}" class="btn btn-outline-primary"><i
                                    class="fas fa-pen fa-sm"></i></a>
                        <form method="post" action="{{ path('admin.tricks.delete', {id: trick.id}) }}"
                              style="display: inline-block"
                              onsubmit="return confirm('Confirmez-vous la suppression ?')">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ trick.id) }}">
                            <button class="btn btn-outline-danger"><i class="fas fa-trash fa-sm"></i></button>
                        </form>
                    {% endif %}
                </h1>
                {% if trick.image %}
                    <img src="{{ asset('uploads/images/' ~ trick.image) }}" alt="card-img-top" class="img-fluid">
                {% else %}
                    <img src="{{ asset('images/default.png') }}" alt="card-img-top" class="img-fluid">
                {% endif %}
                <p>{{ trick.content }}</p>
                <p>Publié le {{ trick.creationDate|date('d/m/Y') }}
                {% if trick.editionDate != null %}
                    et modifié le {{ trick.editionDate|date('d/m/Y') }}</p>
                {% endif %}
                <div class="badge badge-pill badge-info">{{ trick.category.name }}</div>

                <div class="col-12 mt-5">
                    {% if trick.mediaImages %}
                        {%  for mediaImage in trick.mediaImages %}
                            <img src="{{ asset('uploads/media/') ~ mediaImage.name }}" alt="image media" style="width: 250px; height: auto">
                        {% endfor %}
                        {% else %}
                        <p>Ce trick n'a pas d'images</p>
                    {%  endif %}
                    {% if trick.mediaVideos %}
                        {%  for mediaVideo in trick.mediaVideos %}
                            <iframe id="ytplayer" type="text/html" width="640" height="360"
                                    src="{{ mediaVideo.path }}"
                                    frameborder="0"></iframe>
                        {% endfor %}
                    {% else %}
                        <p>Ce trick n'a pas de vidéos</p>
                    {%  endif %}
                </div>


            </div>
        </div>
        <hr/>

    </article>
    <section id="comments-container">
        <h2>Commentaires</h2>

        {% if app.user %}
            {{ include('comments/_form.html.twig', {form: form, button: 'Laisser un commentaire'}) }}
        {% else %}
            <p>Vous ne pouvez pas commenter si vous n'êtes pas connecté(e).</p>
        {% endif %}
       <div id="js-comments-container"></div>
        <div class="row" id="js-comments-load-more">
            <div>
                <a href="{{ path('trick.show', {id: trick.id, slug: trick.slug}) }}"
                   id="js-comments-load-more-btn" class="btn btn-outline-primary mb-4">
                    Afficher plus de commentaires
                </a>
            </div>

        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script language="javascript">
        var nextPage = null;
        var isLoading = false;

        var $window = $(window);
        var $document = $(document);
        var $container = $("#js-comments-container");
      //  var $loaderContainer = $("#js-tricks-loader");
        var $loadBtnContainer = $("#js-comments-load-more");
        var $loadBtn = $("#js-comments-load-more-btn");

        function load(page) {
            if (page == null || isLoading) {
                return
            }

            $.get({
                url: '/api/trick/{{ trick.slug }}-{{ trick.id }}/' + page,
                async: true,
                beforeSend: function () {
                    isLoading = true;
                  //  $loaderContainer.toggle(true);
                },
                success: function (data) {
                    nextPage = data.nextPage;

                    $loadBtnContainer.toggle(nextPage !== null);
                    $container.append(data.content);
                    displayNewContent();
                },
                complete: function () {
                   // $loaderContainer.toggle(false);
                    isLoading = false;
                }
            });
        }

        function displayNewContent() {
            var $lastRow = $container.find(".row").last();

            $lastRow.children().each(function (index) {
                $(this)
                    .css({"top": "100px", "display": "block", "opacity": 0})
                    .delay(100 * index)
                    .animate({"top": "0", "opacity": 1}, 200)
            });
        }

        function detectLoadMore() {
            /* $window.scroll(function() {
                 if($window.scrollTop() + $window.height() === $document.height()) {
                     load(nextPage);
                 }
             }); */

            $loadBtn.on("click", function (event) {
                event.preventDefault();
                load(nextPage);
            });
        }

        $document.ready(function () {
            $loadBtnContainer.toggle(false);
           // $loaderContainer.toggle(false);

            detectLoadMore();
            load(1);
        });
    </script>
{% endblock %}