{% extends 'base.html.twig' %}
{% block title 'Liste des tricks' %}

{% block body %}
    <div class="container">
        <h1> Liste des tricks</h1>
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}
        {% for message in app.flashes('error') %}
            <div class="alert alert-danger">{{ message }}</div>
        {% endfor %}
        {% if app.user %}
            <div class="mb-4">
                <a href="{{ path('admin.tricks.new') }}" class="btn btn-primary">Ajouter un trick</a>
            </div>
        {% endif %}
    </div>
    <div class="container" id="js-tricks-container"></div>
    <div class="container">
        <div class="row" id="js-tricks-loader">
            <div class="col-12">
                <div class="sk-folding-cube" style="margin: 0 auto">
                    <div class="sk-cube1 sk-cube"></div>
                    <div class="sk-cube2 sk-cube"></div>
                    <div class="sk-cube4 sk-cube"></div>
                    <div class="sk-cube3 sk-cube"></div>
                </div>
            </div>
        </div>
        <div class="row" id="js-tricks-load-more">
            <div class="col-12">
                <a href="{{ path('trick.index') }}"
                   id="js-tricks-load-more-btn" class="btn btn-info" style="margin: 0 auto">
                    Charger plus...
                </a>
            </div>

        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script language="javascript">
        var nextPage = null;
        var $container = $("#js-tricks-container");
        var $loaderContainer = $("#js-tricks-loader");
        var $loadBtnContainer = $("#js-tricks-load-more");
        var $loadBtn = $("#js-tricks-load-more-btn");

        function load(page) {
            if (page == null) {
                return
            }

            $loaderContainer.toggle(true);

            $.get({
                url: '/api/tricks/' + page,
                async: true,
                success: function (data) {
                    nextPage = data.nextPage;

                    $loadBtnContainer.toggle(nextPage != null);
                    $loaderContainer.toggle(false);
                    $container.append(data.content);

                    var $lastRow = $container.find(".row").last();
                    $lastRow.hide();
                    $lastRow.fadeIn();
                },
                error: function () {
                    $loaderContainer.toggle(false);
                }
            });
        }

        $(document).ready(function () {
            $loadBtnContainer.toggle(false);
            $loaderContainer.toggle(false);

            $loadBtn.on("click", function (event) {
                event.preventDefault();
                load(nextPage);
            });

            load(1);
        });
    </script>
{% endblock %}
